---
import SectionNoCover from "@layouts/SectionNoCover.astro";
import { getLanguageBySlug, T } from "@libs/language";
import { render } from "astro:content";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("faculty");
  return pages.map((page) => {
    const { language, slug } = getLanguageBySlug(page.id);
    return {
      params: {
        language: language,
        slug: slug,
      },
      props: {
        page,
        slug: `${language}/academic/faculty/${slug}`,
      },
    };
  });
}

export interface Props {
  page: CollectionEntry<"faculty">;
  slug: string;
}

const { page, slug } = Astro.props;
const language = getLanguageBySlug(slug).language;
const {Content} = await render(page);
---

<SectionNoCover
  language={language}
  title={page.data.name}
  slug={slug}
  titleClass={["max-md:text-center"]}
  mainImage={page.data.photo}
>

  <div
    class="mt-2 mb-6 flex gap-16 max-md:flex-col items-start max-md:items-stretch max-md:gap-6"
  >
    {
      page.data.photo && (
        <div class="grow-0 shrink-0 flex justify-center">
          <img src={page.data.photo} width="240" height="240" />
        </div>
      )
    }  

    <div class="flex flex-col gap-7 text-darkblue text-xl grow">
      
   {
    page.data.positions && (
      <div class="text-xl my-2 max-md:text-center">
        <p>
          <b>{page.data.positions.join(T("position_separator", language))}</b>
        </p>
      </div>
      )
    }
      <div>
        <p><b>{T("course_prefix", language)}</b></p>
        <p>{page.data.courses.join(T("course_separator", language))}</p>
      </div>
      {
        page.data.former && (
          <div>
            <p>
              <b>{T("former_prefix", language)}</b>
            </p>
            {page.data.former.map((position) => (
              <p>{position}</p>
            ))}
          </div>
        )
      }
    </div>
  </div>
  <div
    class="prose prose-ul:list-none prose-ul:pl-0 prose-li:ml-0 prose-li:pl-0 prose-li:my-2"
  >
    <Content />
  </div>
</SectionNoCover>
