---
import "@libs/faculty";
import { getFacultyMetadata } from "@libs/faculty";
import { type Language, T } from "@libs/language";
import Widget from "./Widget.astro";
import type { Messages } from "./FacultyRow";

export interface Props {
  language: Language;
}

const { language } = Astro.props;

const faculty = getFacultyMetadata(language, ["faculty"]);
const messages: Messages = {
  course_prefix: T("course_prefix", language),
  course_separator: T("course_separator", language),
  position_prefix: T("position_prefix", language),
  position_separator: T("position_separator", language),
};
---

<Widget
  title={T("faculty_members", language)}
  classNames={["bg-[#291F1F] text-white"]}
  moreLink={`/${language}/academic/faculty`}
  moreText={T("more", language)}
>
  <div class="mb-5 mt-2 text-xl">
    <span class="py-1 border-white border-b">
      {T("faculty", language)}
    </span>
  </div>
  <div class:list={[
    "grid gap-6",
    "justify-between",
    "lg:grid-cols-[repeat(6,minmax(150px,298px))]",
    "sm:grid-cols-[repeat(3,minmax(150px,298px))]",
    "grid-cols-[repeat(2,minmax(150px,298px))]",
    "max-[348px]:grid-cols-1"]}>
    {
      faculty.map((person) => (
        <a class="block bg-[#433434] p-3 rounded-lg flex flex-col gap-1" href={person.url}>
          <div>
            <img src={person.photo} class="w-full rounded-sm aspect-square"></img>
          </div>
          <div class="py-1 text-center">{person.name}</div>
          <div class="text-xs flex flex-col gap-3">
            {person.positions && (
              <div>
                <b>{messages.position_prefix}</b>
                {person.positions.join(messages.position_separator)}
              </div>
            )}
            <div>
              <b>{messages.course_prefix}</b>
              {person.courses.join(messages.course_separator)}
            </div>
          </div>
        </a>
      ))
    }
  </div>
</Widget>
