---
import Widget from "./Widget.astro";
import Carousel, { type Props as CarouselProps } from "./Carousel";
import type { Language } from "@libs/language";
import { T } from "@libs/language";
import { getCollection, getEntry, render } from "astro:content";

export interface Props {
  language: Language;
}

const { language } = Astro.props;

const carouselEntry = await getEntry("carousel", "carousel");
if (!carouselEntry) {
  throw new Error(
    "Carousel content file 'carousel.yml' not found in the 'carousel' collection. This file is required.",
  );
}

const carouselProps: CarouselProps = { items: carouselEntry.data };

const news = await Promise.all(
  (await getCollection("news"))
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, 4)
    .map(async (page) => ({
      title: page.data.title,
      thumbnail: page.data.thumbnail,
      url: page.data.url,
      Content: (await render(page)).Content,
    })),
);
---

<Widget
  title={T("latest_news", language)}
  classNames={["bg-darkviolet text-white"]}
>
  <Carousel items={carouselProps.items} client:idle />

  <div
    class:list={[
      "grid pt-4 gap-6 justify-between",
      "md:grid-cols-[repeat(4,minmax(0,200px))]",
      "grid-cols-[repeat(2,minmax(0,200px))]",
      "max-xs:grid-cols-1",
    ]}
  >
    {
      news.map((item) => (
        <div class="w-full max-w-[200px] max-xs:max-w-none">
          <a href={item.url} class="block">
            <div>
              <img
                src={item.thumbnail}
                class="w-full aspect-[200/110] object-cover"
                alt={item.title}
              />
            </div>
            <div class="text-base py-2">{item.title}</div>
            <div class="text-xs whitespace-normal">
              <item.Content />
            </div>
          </a>
        </div>
      ))
    }
  </div>
</Widget>
