---
import OptionalLink from "@components/common/OptionalLink.astro";
import type { MenuItem } from "@libs/menu";

export interface Props {
  items: MenuItem[];
  singleColumn?: boolean;
}

const { items, singleColumn = false } = Astro.props;

if (items.length == 0) return null;

const bigMenu: boolean = items[0].children != null;
---

{
  bigMenu ? (
    <div class="bg-maxpurple flex flex-row flex-wrap p-1.5 drop-shadow-md">
      {items.map((item) => (
        <div
          class:list={[
            "p-1.5 grow",
            "lg:text-base	text-xl lg:text-base",
            {
              "basis-1/3": !singleColumn,
              "basis-full": singleColumn,
            },
          ]}
        >
          <div>
            <OptionalLink url={item.url}>{item.name}</OptionalLink>
          </div>
          {item.children && (
            <ul class="text-base lg:text-sm ml-2">
              {item.children.map((subItem) => (
                <li class="py-1">
                  <OptionalLink url={subItem.url}>{subItem.name}</OptionalLink>
                </li>
              ))}
            </ul>
          )}
        </div>
      ))}
    </div>
  ) : (
    <ul class="bg-maxpurple flex flex-row flex-wrap px-1 py-1.5 drop-shadow-md">
      {items.map((item) => (
        <li
          class:list={[
            "p-1.5",
            "lg:text-base	text-xl lg:text-base",
            {
              "basis-1/3": !singleColumn,
              "basis-full": singleColumn,
            },
          ]}
        >
          <OptionalLink url={item.url}>{item.name}</OptionalLink>
        </li>
      ))}
    </ul>
  )
}
