---
interface Props {
    rootClassName?: Iterable<string> | string;
    itemClassName?: Iterable<string> | string;
    buttonClassName?: Iterable<string> | string;
}

const { rootClassName, itemClassName, buttonClassName } = Astro.props;

import shortcuts from "@data/shortcuts";
---

<ul class:list={rootClassName}>
    {
        shortcuts.map((item) => {
            switch (item.type) {
                case "button":
                    return (
                        <li class:list={itemClassName}>
                            <a href={item.url} class:list={buttonClassName}>
                                {item.name}
                            </a>
                        </li>
                    );
                default:
                    return (
                        <li class:list={itemClassName}>
                            <a href={item.url}>{item.name}</a>
                        </li>
                    );
            }
            if (item.type == "button") {
            }
        })
    }
</ul>
