---
export interface Props {
  title: string;
  image?: string;
}

const { title, image } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<title>{title}</title>

<link rel="canonical" href={canonicalURL} />

<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
{image && <meta property="og:image" content={image} />}

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content={title} />
{image && <meta name="twitter:image" content={image} />}

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="shortcut icon" sizes="32x32" href="/favicon.ico" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#ffc40d" />
<meta name="msapplication-config" content="/browserconfig.xml" />

<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1ZHTKXL62M"
></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-1ZHTKXL62M");
</script>
