---
import Container from "@components/common/Container.astro";
import Breadcrumbs from "@components/section/Breadcrumbs.astro";
import type { Language } from "@libs/language";
import site from "@libs/site";
import Base from "./Base.astro";

export interface Props {
  language: Language;
  title: string;
  slug: string;
}

const { language, title, slug } = Astro.props;
---

<Base language={language} title={`${title} - ${site.shortTitle(language)}`}>
  <Breadcrumbs slug={slug} />
  <Container classList={["pb-6"]}>
    <h1 class="pt-6 text-3xl font-bold text-darkviolet max-md:text-center">
      {title}
    </h1>
    <slot />
  </Container>
</Base>
