---
import Base from "./Base.astro";
import Breadcrumbs from "@components/section/Breadcrumbs.astro";
import Container from "@components/common/Container.astro";
import { getSite } from "@libs/site";
import { getLanguageBySlug } from "@libs/language";

export interface Props {
  title: string;
  slug: string;
  proseClassList?: string[];
}

const { title, slug, proseClassList = [] } = Astro.props;

const language = getLanguageBySlug(slug);
const site = getSite(language);
---

<Base title={`${title} - ${site.shortTitle}`} language={language}>
  <Breadcrumbs slug={slug} />
  <Container classList={["py-6"]}>
    <article class:list={["prose prose-xl max-w-none", ...proseClassList]}>
      <slot name="title">
        <h1>{title}</h1>
      </slot>
      <slot />
    </article>
  </Container>
</Base>
