---
import Container from "@components/common/Container.astro";
import Breadcrumbs from "@components/section/Breadcrumbs.astro";
import type { Language } from "@libs/language";
import site from "@libs/site";
import Base from "./Base.astro";

export interface Props {
  language: Language;
  title: string;
  titleClass?: string[];
  slug: string;
  mainImage?: string;
}

const { language, title, titleClass = [], slug, mainImage } = Astro.props;
---

<Base
  language={language}
  title={`${title} - ${site.shortTitle(language)}`}
  image={mainImage}
>
  <Breadcrumbs slug={slug} />
  <Container classList={["pb-6 bg-beige"]}>
    <h1 class:list={["pt-6 text-3xl font-bold text-darkviolet", ...titleClass]}>
      {title}
    </h1>
    <slot />
  </Container>
</Base>
