---
import Base from "./Base.astro";
import Breadcrumbs from "@components/section/Breadcrumbs.astro";
import Container from "@components/common/Container.astro";
import site from "@libs/site";
import { getLanguageBySlug } from "@libs/language";
import ChildrenListing from "@components/section/ChildrenListing.astro";
import BreadcrumbsJsonLd from "@components/section/BreadcrumbsJsonLd.astro";

export interface Props {
  title: string;
  slug: string;
  coverImage: string;
  mainImage?: string;
  proseClassList?: string[];
  showChildren?: boolean;
}

const {
  title,
  slug,
  coverImage,
  mainImage,
  proseClassList = [],
  showChildren = true,
} = Astro.props;

const { language } = getLanguageBySlug(slug);
const coverImageUrl = `url('${coverImage}')`;
---

<style define:vars={{ coverImageUrl }}>
  .title-cover {
    background-image: var(--coverImageUrl);
  }
</style>

<Base
  title={`${title} - ${site.shortTitle(language)}`}
  language={language}
  image={mainImage}
>
  <Fragment slot="head">
    <BreadcrumbsJsonLd slug={slug} />
  </Fragment>
  <Breadcrumbs slug={slug} />
  <article class:list={["prose max-w-none bg-beige", ...proseClassList]}>
    <div class:list={["title-cover", "bg-cover bg-center", "not-prose"]}>
      <Container classList={["h-72"]}>
        <div class:list={["flex items-end", "w-full h-full py-6"]}>
          <h1 class:list={["font-semibold text-4xl", "text-white"]}>
            {title}
          </h1>
        </div>
      </Container>
    </div>
    <Container classList={["pt-3 pb-6"]}>
      <slot />
      {showChildren && <ChildrenListing slug={slug} />}
    </Container>
  </article>
</Base>
