---
import Base from "./Base.astro";
import Breadcrumbs from "@components/section/Breadcrumbs.astro";
import Container from "@components/common/Container.astro";
import { getSite } from "@libs/site";
import { getLanguageBySlug } from "@libs/language";
import ChildrenListing from "@components/section/ChildrenListing.astro";

export interface Props {
  title: string;
  slug: string;
  coverImage: string;
  proseClassList?: string[];
}

const { title, slug, coverImage, proseClassList = [] } = Astro.props;

const language = getLanguageBySlug(slug);
const site = getSite(language);
const coverImageUrl = `url('${coverImage}')`;
---

<style define:vars={{ coverImageUrl }}>
  .title-cover {
    background-image: var(--coverImageUrl);
  }
</style>

<Base title={`${title} - ${site.shortTitle}`} language={language}>
  <Breadcrumbs slug={slug} />
  <article class:list={["prose max-w-none", ...proseClassList]}>
    <div class:list={["title-cover", "bg-cover bg-center", "not-prose"]}>
      <Container classList={["h-72"]}>
        <div class:list={["flex items-end", "w-full h-full py-6"]}>
          <h1 class:list={["font-semibold text-4xl", "text-white"]}>
            {title}
          </h1>
        </div>
      </Container>
    </div>
    <Container classList={["pt-3 pb-6"]}>
      <slot />
      <ChildrenListing slug={slug} />
    </Container>
  </article>
</Base>
